<header class="site-header">

  <div id="headerwrap"   >
    <a id="menu-icon" href="#mobile-menu"></a>
    <header id="header" class="pagewidth clearfix">
      <div class="header-bar">
        <div id="site-logo"><a href="http://populusaurio.cl" title="Populusaurio"><img src="./img/popu_blan.png" alt="Populusaurio" title="Populusaurio" /><span style="display: none;">Populusaurio</span></a></div>
      </div>
      <!-- /.header-bar -->

      <div id="mobile-menu" class="sidemenu sidemenu-off">
        <div class="social-widget">
          <div id="themify-social-links-1005" class="widget themify-social-links"><ul class="social-links horizontal">
            <li class="social-link-item twitter font-icon icon-medium">
              <a href="https://twitter.com/Populusaurio" title="Twitter" ><i class="fa fa-twitter" ></i>  </a>
            </li>
            <!-- /themify-link-item -->
            <li class="social-link-item facebook font-icon icon-medium">
              <a href="https://www.facebook.com/populusaurio" title="Facebook" ><i class="fa fa-facebook" ></i>  </a>
            </li>
            <!-- /themify-link-item --></ul></div>
        </div>
        <!-- /.social-widget -->
        <nav id="main-nav-wrap">
          <ul id="main-nav" class="main-nav"><li id="menu-item-4271" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4271"><a href="http://populusaurio.cl/#quees">¿Qué es?</a></li>
            <li id="menu-item-4272" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4272"><a href="http://populusaurio.cl/#quienessomos">¿Quiénes somos?</a></li>
            <li id="menu-item-4273" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4273"><a href="http://populusaurio.cl/#laferia">El encuentro</a></li>
            <li id="menu-item-4274" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4274"><a href="http://populusaurio.cl/#lared">Red Populusaurio</a></li>
            <li id="menu-item-4275" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4275"><a href="http://difunde.populusaurio.cl/">¡Comparte!</a></li>
          </ul>               <!-- /#main-nav -->
        </nav>
        <!-- /#main-nav-wrap -->
        <a id="menu-icon-close" href="#"></a>
      </div>
      <!-- /#mobile-menu -->
    </header>
    <!-- /#header -->
  </div>
  <!-- /#headerwrap -->

</header>
