/* difunde */
#main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  width: 100%;
  font-family: Raleway;
}

.img-header {
  margin-top: 140px;
}

table td {
  padding-right: 10px;
}

textarea {
  text-align: center;
  font-size: 22px;
  height: 3em;
}

.fix-size {
  /* width: 400px; */
  height: 80px;
}


/* footer */
#footerwrap {
  background-color: #744983;
}

#footerwrap {
  clear: both;
  border-top: 1px solid rgba(0,0,0,.1);
  text-align: center;
  padding: 3.2em 0 2em;
}

.widget .social-links {
  padding: 0;
  line-height: 1em;
}

.social-widget ul li {
  padding: 0 2px 5px 0;
  margin: 0 7px 2px 0;
  display: inline-block;
  border: none !important;
  clear: none;
  line-height: 100%;
}

.footer-left-col #footer {
  text-align: left;
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}

.social-widget a {
  color: #ffffff;
}

.social-links .icon-medium i {
  background-color: #000;
  border-radius: 100%;
  padding: .25em;
  margin-right: .25em;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.1em;
}

div {
  display: block;
  margin: 0;
  padding: 0;
}


/* header */
.header-horizontal .header-bar {
  float: left;
}

#headerwrap, #site-logo, #site-description {
  color: #ffffff;
}

#headerwrap {
  background-color: #F9C822;
  box-sizing: border-box;
}

#headerwrap {
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  min-height: 55px;
  z-index: 999;
  top: 0;
  left: 0;
}

.clearfix {
  display: block;
  zoom: 1;
}

body {
  //background-color: #D8127D;
  font-family: 'Raleway', sans-serif;
  font: 1.05em/1.85em 'Raleway', "Arial", sans-serif;
  word-wrap: break-word;
}

.header-horizontal #main-nav {
  float: right;
  clear: right;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

#site-logo, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {
  width: 300px;
}

nav, section {
  display: block;
}

#main-nav, .menu, .gallery, #content {
  display: block;
  zoom: 1;
}

#main-nav > li > a {
  color: #ffffff;
}

#main-nav a {
  color: #2d2d2d;
  display: block;
  padding: .6em .7em;
  margin: 0;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main-nav a {
  padding: 3px .7em;
}

#main-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.header-horizontal #header {
  text-align: inherit;
  padding: 1em 0;
}

#headerwrap.fixed-header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: height .3s;
  background-color: rgba(255, 255, 255, .9);
}

.pagewidth {
  width: 1160px;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  display: block;
}
